<div class="card shadow-sm">
    <div class="card-body">
        <h3 class="card-title text-center mb-4">Thêm thiết bị bằng mã chia sẻ</h3>
        <div class="mb-3">
            <label for="taiKhoan" class="form-label">Mã chia sẻ thiết bị</label>
            <input type="text" class="form-control" id="MaChiaSeThietBi" name="MaChiaSeThietBi" placeholder="Nhập mã chia sẻ thiết bị" required>
            <div class="invalid-feedback">Vui lòng nhập mã chia sẻ thiết bị.</div>
        </div>
        <button id="ThemThietBiChiaSe" class="btn btn-primary w-100">
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            <span>Tạo mã thêm thiết bị</span>
        </button>
    </div>
</div>