@model WebIot.Models.TrangChu
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Main/Main.cshtml";
}
<p>Id - @Model.thongTinNguoiDung.nguoiDungId</p>
<p>Tên - @Model.thongTinNguoiDung.tenNguoiDung</p>
<p>Email - @Model.thongTinNguoiDung.email</p>
<p>Vai trò - @Model.thongTinNguoiDung.vaiTro</p>