@model WebIot.Models.TrangChu
@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/_Layout/_Layout.cshtml";
}

<div class="chat-container">
    <!-- Overlay cho mobile -->
    <div class="overlay" id="overlay"></div>

    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
        <div class="flex-grow-1">
            <button class="btn menu-item w-100" id="TrangChu">
                <i class="bi bi-house"></i>
                <span class="item-text">Trang Chủ</span>
            </button>
            <button class="btn menu-item w-100">
                <i class="bi bi-gear"></i>
                <span class="item-text">Cài đặt</span>
            </button>
            <button class="btn menu-item w-100">
                <i class="bi bi-gear"></i>
                <span class="item-text">Cài đặt</span>
            </button>
            <button class="btn menu-item w-100">
                <i class="bi bi-gear"></i>
                <span class="item-text">Cài đặt</span>
            </button>
            <button class="btn menu-item w-100">
                <i class="bi bi-gear"></i>
                <span class="item-text">Cài đặt</span>
            </button>
        </div>
        <div>
            <hr>
            <button class="btn menu-item w-100" id="CaiDat">
                <i class="bi bi-gear"></i>
                <span class="item-text">Cài đặt</span>
            </button>
            <button class="btn menu-item w-100 text-center justify-content-center" id="toggleBtn">
                <i class="bi bi-layout-sidebar"></i>
            </button>
        </div>
    </div>

    <!-- Main chat -->
    <div class="main">
        <header class="py-2 mb-2 border-bottom">
            <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
                <div class="dropdown">
                    @* Nút sidebar desktop
                        <button class="btn d-none d-md-inline" id="toggleBtn">
                            <i class="bi bi-layout-sidebar icon-header"></i>
                        </button> *@
                    @* Nút sidebar mobile *@
                    <button class="btn btn-outline-secondary d-md-none" id="mobileMenu">
                        <i class="bi bi-list"></i>
                    </button>
                </div>

                <div class="d-flex align-items-center justify-content-end">
                    <div class="flex-shrink-0 dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle icon-header"></i>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li>
                                <button class="dropdown-item" id="CaiDat">
                                    <i class="bi bi-gear icon-header"></i> Cài đặt
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" id="HoSo">
                                    <i class="bi bi-person icon-header"></i> Hồ sơ
                                </button>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <button class="dropdown-item" id="DangXuat">
                                    <i class="bi bi-box-arrow-right icon-header"></i> Đăng xuất
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-content" id="main-content">
            
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/content/js/TrangChu/_Dashboard.js"></script>
    <script src="~/content/js/TaiKhoan/HoSoTaiKhoan.js"></script>


    <script src="~/content/js/TrangChu/TrangChu.js"></script>
}