<div class="card shadow-sm">
    <div class="card-body">
        <h3 class="card-title text-center mb-4">Thông tin thiết bị</h3>

        <div class="mb-3">
            <label class="form-label">ID thiết bị</label>
            <input type="text" class="form-control" id="deviceIdInfo" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Loại thiết bị</label>
            <input type="text" class="form-control" id="deviceType" disabled>
        </div>

        <div class="mb-3">
            <label class="form-label">Thời điểm khởi tạo</label>
            <input type="text" class="form-control" id="deviceTime" disabled>
        </div>

        <button id="HuyTheoDoiThietBi" class="btn btn-danger mb-3 w-100">
            <span class="text-white">Xóa thiết bị</span>
        </button>
    </div>
</div>